.chatContainer {
  padding: 0.5rem;
  background-color: var(--color-gray-000);
  border-radius: 10px;
}

.header {
  align-items: center;
}

.header,
.footerForm,
.bodyContent {
  padding: 0.5rem;
  margin: 0;
}

.headerTitle {
  padding: 0;
  font-weight: 700;
}

.headerAction {
  padding: 0;
}

.headerAction button {
  font-size: 12px;
  font-style: italic;
  width: 100%;
  padding: 0.3rem 0;

  border: none;
  color: var(--color-gray-600);
  background-color: var(--color-gray-300);
}

.headerAction button:hover {
  color: var(--color-yellow-500);
}

/* chat bar */

.chatSidebar {
  min-height: 500px;
  height: 100%;
  border-right: 1px solid var(--color-gray-500);
  border-top: 1px solid var(--color-gray-500);
}

.chatHeader {
  margin-top: 0.5rem;
}

.chatUsers {
  cursor: pointer;
  margin-top: 0.2rem;
  display: flex;
}

.chatUsers img {
  width: 30px;
  margin-right: 5px;
}

.clientUserName {
  display: flex;
  align-items: center;
}

/* chat body */

.leftMess,
.rightMess {
  display: flex;
  min-height: 30px;
}

.leftMess {
  justify-content: end;
}

.bodyContent {
  overflow: auto;
  height: 25rem;
  border-top: 1px solid var(--color-gray-500);
  border-bottom: 1px solid var(--color-gray-500);
}

.username {
  width: 30px;
  margin-right: 5px;
}

.username img {
  width: 30px;
}

.leftBodyMess,
.rightBodyMess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  border-radius: 5px;
  background-color: var(--color-gray-200);
}

.messageSender,
.messageRecipient {
  min-width: fit-content;
}

.messageSender p,
.messageRecipient p {
  word-break: break-word;
}

.space {
  height: 16px;
}

.typing {
  position: fixed;
  bottom: 435px;
  font-style: italic;
}

/* chat footer */
.input {
  width: 120%;
  border: none;
}

.action {
  text-align: end;
}

.footerIcon {
  border: none;
  margin-left: 0.5rem;
  color: var(--color-gray-500);
}

.footerBtn {
  border: none;
}
